section.example {
    background-color: green;
    width: 75%;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 11px;
    padding: 20px;
}

@media container and (max-width: 700px) {
    section.example {
        background-color: red;
    }
}

@media container and (max-width: 500px) {
    section.example {
        background-color: blue;
    }
}
